
/FindPrimeNumbers/FindPrimeNumbersTests/obj
/AddCustomerValidator/.vs
/AddCustomerValidator/AddCustomerValidator/obj
/AddCustomerValidator/AddCustomerValidatorTests/obj
/CustomersRESTAPI/CustomersRESTAPI/obj
/CustomersRESTAPI/CustomersRESTAPITests/obj
/EncryptDecryptApp/EncryptDecryptApp/obj
/FindPrimeNumbers/FindPrimeNumbers/obj
/SquareRootCalculators/SquareRootCalculators/obj
/DrawShapes/DrawShapes/bin
/DrawShapes/DrawShapes/obj
/DrawShapes/DrawShapesTests/bin
/DrawShapes/DrawShapesTests/obj
/F_Sharp/FirstConsole/.vs
/F_Sharp/FirstConsole/FirstConsole/bin
/F_Sharp/FirstConsole/FirstConsole/obj
/F_Sharp/FirstLibrary/.vs
/F_Sharp/FirstLibrary/FirstLibrary/bin
/F_Sharp/FirstLibrary/FirstLibrary/obj
/MultiThreadingAndRealTime/ThreadsTasksAndRealTimeData/.vs
/MultiThreadingAndRealTime/ThreadsTasksAndRealTimeData/ThreadsTasksAndRealTimeData/bin
/MultiThreadingAndRealTime/ThreadsTasksAndRealTimeData/ThreadsTasksAndRealTimeData/obj
/RabbitMQSwitch/.vs
/RabbitMQSwitch/RabbitMQSwitch/bin
/RabbitMQSwitch/RabbitMQSwitch/obj
/LinqExtensionMethods/.vs
/LinqExtensionMethods/ExtensionMethodTests/obj
/LinqExtensionMethods/LinqExtensionMethods/bin
/LinqExtensionMethods/LinqExtensionMethods/obj
/LinqExtensionMethods/LinqExtensionMethodsConsole/bin
/LinqExtensionMethods/LinqExtensionMethodsConsole/obj
/LinqExtensionMethods/LinqExtensionMethodTests/bin
/LinqExtensionMethods/LinqExtensionMethodTests/obj
