
/FindPrimeNumbers/FindPrimeNumbersTests/obj
/AddCustomerValidator/.vs
/AddCustomerValidator/AddCustomerValidator/obj
/AddCustomerValidator/AddCustomerValidatorTests/obj
/CustomersRESTAPI/CustomersRESTAPI/obj
/CustomersRESTAPI/CustomersRESTAPITests/obj
/EncryptDecryptApp/EncryptDecryptApp/obj
/FindPrimeNumbers/FindPrimeNumbers/obj
/SquareRootCalculators/SquareRootCalculators/obj
